page-airconditioner {
    ion-label {
        font-size: 1.5em;
    }

    ion-label.temp {
        font-size: 1.8em;
    }

    ion-range {
        font-size: 23px;
    }

    .scroll-content, ion-grid {
        padding-left: 0 !important;
    }

}

    .toast-container {
        height: 120px;
        text-align: center;
    }

   .toast-container .toast-message {
        font-size: 1.2em;
    }


