page-menu {
  button {
      height: 85px !important;
      background-color: transparent !important;
      border: 1px solid #000;
  }

  .scroll-content {
    padding-left: 0 !important;
  }

  ion-grid {
      padding-left: 0 !important;
  }

  ion-label {
    text-align: center;
  }
}
